

<template>
  <section class="<%= data.className %>">
    <%= data.name %>
  </section>
</template>

<script>
  export default {
    name: "<%= data.name%>",
    mixins: [],
    props: {
    },
    data() {
      return {
      };
    },
    methods: {},
    created() {

    },
    moundted() {

    },
    components: {
      
    },
  };
</script>
<style lang="scss" scoped>
    .<%= data.className%> {

    }

</style>


